.calendar-panel {
	display: block; 
	float: left; 
	width: 200px;
	color: #3B5998;
	background: #fff;
	padding: 3px 2px;
	margin: 5px;
}
.calendar-panel .calendar-title {
	background: #3B5998;
	color: #fff;
	padding: 5px;
}
.calendar-panel .this-month {
	font-size: 13px;
	font-weight: bold;
	display: block;
	text-align: center;
	cursor: pointer;
}
.calendar-panel .prev-month {
	float: left;
	cursor: pointer;
}
.calendar-panel .next-month {
	float: right;
	cursor: pointer;
}
.calendar-panel .calendar-body {
	width: 100%;
	text-align: center;
}
.calendar-panel .calendar-body td {
	padding: 2px 1px;
}
.calendar-panel .calendar-day-selected {
	background: #336699;
	color: #fff;
}
.calendar-panel .calendar-content, .calendar-panel .calendar-option {
	padding: 5px 3px 10px;
	background: #fff;
	border: 1px solid #D3DAE8;
	
}
