@charset "utf-8";
/* CSS Document */

body {
	font-family:verdana,tahoma,helvetica;
	padding:32px 20px;
    padding-top:32px;
    font-size:13px;
	background-color:#fff !important;
}
a, a:link, a:active, a.visited {
	color: #00f;
	text-decoration: none;
}
a:hover {
	color: #888;
	border-bottom: 1px solid #888;
}
p {
	margin-bottom:15px;
}
h1 {
	font-size:large;
	margin-bottom:20px;
}
h2 {
	font-size:14px;
    color:#333;
    font-weight:bold;
    margin:10px 0;
}
pre.code{
	background: #F8F8F8;
	border: 1px solid #e8e8e8;
	padding:10px;
	margin:10px;
	margin-left:0px;
	border-left:5px solid #e8e8e8;
	font-size: 12px !important;
	line-height:14px !important;
}