@charset "utf-8";

/* SUI.Util.AutoComplete ============================ */
div.x-autocomplete { 
	position:absolute; 
	left: 0px; 
	top: 0px; 
	padding: 0px; 
	border: solid #464646 1px; 
	z-index: 1000; 
	visibility: hidden; 
	overflow: hidden; 
	width: 250px; 
	background: #161616; 
	color: #5c5c5c; 
}
div.x-autocomplete ul, div.x-autocomplete ul li { 
	list-style: none; 
	padding: 0px; 
	margin: 0px; 
}
div.x-autocomplete a{ 
	display: block; 
	margin: 0px 1px; 
	padding: 2px 5px; 
	border: none; 
	font-family: Verdana; 
	font-size: 11px; 
	height: 19px; 
	border: 1px solid #161616; 
}
div.x-autocomplete a:link, div.x-autocomplete a:visited, div.x-autocomplete a:active{ 
	color: #777; 
	text-decoration: none; 
}
div.x-autocomplete a:hover{ 
	color: #fff; 
	background: #000; 
	border: 1px solid #161616; 
}
div.x-autocomplete a img{ 
	position: absolute; 
	left: 2px;
	border: none; 
	margin: 0px; 
	padding: 1px 2px 1px -22px; 
}

/* SUI.Util.DropMenu ============================ */
div.menu{ 
	position: absolute; 
	left: 0px; 
	top: 0px; 
	padding: 0px; 
	border: solid #464646 1px; 
	z-index: 1000; 
	visibility: hidden; 
	overflow: hidden; 
	width: 250px; 
	background: #161616; 
}
div.menu ul, div.menu ul li { 
	list-style: none; 
	padding: 0px; 
	margin: 0px; 
}
div.menu a{ 
	display: block;
	margin: 1px 1px; 
	padding: 2px 10px 0px 22px; 
	border: none; 
	font-family: Verdana; 
	font-size: 11px; 
	height: 19px; 
	border: 1px solid #161616; 
}
div.menu a:link, div.menu a:visited, div.menu a:active{ 
	color: #5C5C5C; 
	text-decoration: none; 
}
div.menu a:hover{ 
	color: #fff; 
	background: #000; 
	border: 1px solid #161616; 
}
div.menu a img{ 
	position:absolute; 
	left: 2px;
	border: none; 
	margin: 0px; 
	padding: 1px 2px 1px -22px; 
}

/* SUI.Util.SimpleTab ============================ */
.simpletab-toolbar-container { 
	padding: 5px 0px; 
}
ul.simpletab-toolbar { 
	list-style: none; 
	padding: 0px 0px 2px; 
	margin: 0px; 
	display: block; 
}
ul.simpletab-toolbar li { 
	display: inline; 
}
ul.simpletab-toolbar a { 
	color: #999; 
	border: 1px solid #222; 
	padding: 4px 10px; 
	text-align: center; 
	margin: 0 2px; 
	text-decoration: none; 
	font-weight: 600; 
}
ul.simpletab-toolbar a.current, ul.simpletab-toolbar a:hover { 
	border: 1px solid #333; 
	background: #000; 
	color: #fff; 
}
div.simpletab-hidden { 
	display: none; 
	visibility: hidden; 
	padding: 2px 2px 10px; 
}
div.simpletab-active { 
	display: block; 
	visibility: visible; 
	padding: 2px 2px 10px; 
}

/* SUI.Util.Calendar ============================ */
table.calendar-panel { 
	padding: 0px; 
	margin: 0px; 
	border-collapse: collapse; 
	display: none; 
	width: 245px; 
	color: #999; 
}
span.prev-month { 
	float: left; 
	width: 16px; 
	height: 15px; 
	background: url("images/black/prev.png") no-repeat top left; 
	text-indent: -9999px; 
	cursor: pointer; 
	margin: 0; 
	padding: 0; 
}
span.next-month { 
	float: right; 
	width: 16px; 
	height: 15px; 
	background: url("images/black/next.png") no-repeat top left; 
	text-indent: -9999px; 
	cursor: pointer; 
	margin: 0; 
	padding: 0; 
}
span.this-month { 
	text-align: center; 
	font-family: arial, verdana, tahoma; 
	font-size: 12px; 
	color: #fff; 
	overflow: hidden; 
	font-weight: 600; 
	margin: 0; 
	padding: 0; 
}
div.calendar-content { 
	padding: 0px; 
	margin: 0px; 
}
div.calendar-content-selector { 
	color: #333; 
	width: 229px; 
	padding: 2px 2px; 
	color: #fff; 
	display: none; 
}
table.calendar-body { 
	width: 232px; 
	border-collapse: collapse; 
	padding: 0px; 
	margin: 0px; 
}
td.calendar-header-day { 
	width: 21px; 
	height: 21px; 
	font-size: 12px; 
	background: #111; 
	font-weight: bold; 
	color: #aaa; 
	text-align:center; 
}
td.calendar-day { 
	width: 21px; 
	height: 21px; 
	color: #fff; 
	text-align: center; 
}
td.calendar-day-selected { 
	width: 21px; 
	height: 21px; 
	background: #fff; 
	color: #000; 
	text-align: center; 
}
td.calendar-invalid { 
	width: 21px; 
	height: 21px; 
	color: #999; 
	text-align: center; 
}

/* SUI.Ext.Panel ============================ */
table.sui-panel { 
	padding: 0px; 
	margin: 0px; 
	border-collapse: collapse; 
	color: #999; 
	display: none; 
	visibility: hidden; 
}
table.sui-panel * { 
	margin:0px; 
	padding: 0px; 
}
td.sui-panel-hl { 
	background: url("images/black/panel-tl.png") no-repeat top left; 
	width: 7px; 
	height: 22px; 
	text-indent: -99999px; 
	font-size: 1px; 
}
td.sui-panel-header {
	background: #000 url("images/black/panel-title.png") repeat-x top left; 
	height: 22px; 
	font-family: arial, verdana, tahoma; 
	font-size: 12px; 
	color: #fff; 
	overflow: hidden; 
	text-align:left; 
	font-weight: 600; 
}
div.sui-panel-title { 
	overflow: hidden; 
	padding-top: 3px; 
}
div.sui-panel-ext { 
	background: url("images/black/panel-title.png") repeat-x top left; 
	height: 22px; 
	overflow: hidden; 
	float: right; 
}
span.sui-panel-min { 
	display: block; 
	float: right; 
	background: url("images/black/panel-minimize.png") no-repeat top left; 
	width: 14px; 
	height: 22px; 
	text-indent: -9999px; 
}
span.sui-panel-close { 
	display: block; 
	float: right; 
	background: url("images/black/panel-close.png") no-repeat top left; 
	width: 14px; 
	height: 22px; 
	text-indent: -9999px; 
}
span.sui-panel-disabled { 
	display: none; 
}
td.sui-panel-hr { 
	background: url("images/black/panel-tr.png") no-repeat top right; 
	width: 8px; 
	height: 20px; 
	text-indent: -99999px; 
	font-size: 1px; 
}
td.sui-panel-cl { 
	background: #000 url("images/black/panel-cl.png") repeat-y top left; 
	width: 7px; 
	text-indent: -99999px; 
}
td.sui-panel-container { 
	background: #000 url("images/black/panel-content.png") repeat top left; 
	vertical-align: top; 
	font-family: arial, verdana, tahoma; 
	font-size: 12px; 
	margin: 0px; 
	padding: 0; 
}
td.sui-panel-container div.sui-panel-content { 
	margin: 5px; 
}
td.sui-panel-container div.sui-panel-content { 
	margin: 5px; 
}
td.sui-panel-cr { 
	background: #000 url("images/black/panel-cr.png") repeat-y top right; 
	width: 8px;
	text-indent: -99999px; 
}
td.sui-panel-fl { 
	background: url("images/black/panel-fl.png") no-repeat top left; 
	width: 7px; 
	height: 26px; 
	text-indent: -99999px; 
}
td.sui-panel-footer { 
	background: #000 url("images/black/panel-fc.png") repeat-x top left; 
	height: 26px; 
	text-indent: -99999px; 
}
td.sui-panel-fr { 
	background: url("images/black/panel-fr.png") no-repeat top right; 
	width: 8px; 
	height: 26px; 
	text-indent: -99999px; 
}

#sui-message {
	position: absolute;
	width: 200px;
	top: 0px;
	right: 0px;
	padding: 2px;
	x-index: 50;
}
div.sui-messagebox {
	color: #fff;
	width: 190px;
	-moz-border-radius: 2px;
}
div.note {
	background: #333;
}
div.error {
	background: #a00;
}
div.success {
	background: #393;
}
.sui-messagebox span.sui-messagebox-close {
	float: right;
	width: 10px;
	height: 10px;
	margin: 2px 5px;
	font: bold 11px verdana;
	cursor: pointer;
}
.sui-messagebox p {
	margin: 0px;
	padding: 3px 5px;
}

/* SUI-Extra ========================== */
div.x-column { 
	float: left; 
	width: 210px; 
	outline-width: medium; 
}
div.x-column-big { 
	float: left; 
	width: 310px; 
	outline-width: medium; 
}
div.x-column-small { 
	float: left; 
	width: 110px;
	outline-width: medium; 
}
div.form-submit { 
	padding:3px 0 0; 
	clear: both; 
}
div.label { 
	color: #fff; 
	font-size: 11px; 
	font-weight:bold; 
	padding: 8px 2px 0px; 
}
input.input, select.input, textarea.input { 
	width: 200px; 
}
input.input-big, select.input-big, textarea.input-big { 
	width: 300px; 
}
input.input-small, select.input-small, textarea.input-small { 
	width: 100px; 
}

span.form_error { 
	color: #a00; 
	padding: 1px 0px 3px 0px;
}
input.sui-form-error, select.sui-form-error, textarea.sui-form-error { 
	background: #fff url("images/black/error.png") repeat-x bottom left; 
	border: 1px solid #a00; 
}
