@charset "utf-8";

/* SUI.Util.DropMenu ============================ */
div.menu { 
	position:absolute; 
	left: 0px; 
	top: 0px; 
	padding: 0px; 
	border: solid #718bb7 1px; 
	z-index: 1000; 
	visibility: hidden; 
	overflow: hidden; 
	width: 250px; 
	background: #f0f0f0 url("images/vista-blue/menu-bg.jpg") repeat-y top left; 
}
div.menu ul, div.menu ul li { 
	list-style: none; 
	padding: 0px; 
	margin: 0px; 
}
div.menu a { 
	display: block; 
	margin: 1px 1px; 
	padding: 2px 10px 0px 22px; 
	border: none; 
	font: normal 11px verdana; 
	height: 19px; 
	border-left: 1px solid #f0f0f0; 
	border-right: 1px solid #f0f0f0; 
}
div.menu a:link, div.menu a:visited, div.menu a:active { 
	color: #006699; 
	text-decoration: none; 
}
div.menu a:hover { 
	color: #fff; 
	background: url("images/vista-blue/menu-bg.png") repeat-x top left; 
	border-left: 1px solid #40b0e3; 
	border-right: 1px solid #40b0e3; 
}
div.menu a img { 
	position: absolute; 
	left: 2px;
	border: none; 
	margin: 0px; 
	padding: 1px 2px 1px -22px; 
}

/* SUI.Util.SimpleTab ============================ */
.simpletab-toolbar-container { 
	padding: 5px 0px; 
}
ul.simpletab-toolbar { 
	list-style: none; 
	padding: 0px 0px 2px; 
	margin: 0px; 
	display: block; 
	border-bottom: 1px solid #f0f0f0; 
}
ul.simpletab-toolbar li { 
	display: inline; 
}
ul.simpletab-toolbar a { 
	color: #00749E; 
	padding: 4px 10px; 
	text-align: center; 
	margin: 0 2px; 
	text-decoration: none; 
	font-weight: 600; 
}
ul.simpletab-toolbar a.current, ul.simpletab-toolbar a:hover { 
	background: #006bad; 
	color: #fff;
}
div.simpletab-hidden { 
	display: none; 
	visibility: hidden; 
	padding: 2px 2px 10px; 
}
div.simpletab-active { 
	display: block; 
	visibility: visible; 
	padding: 2px 2px 10px; 
}

/* SUI.Util.Calendar ============================ */
table.calendar-panel { 
	padding: 0px; 
	margin: 0px; 
	border-collapse: collapse; 
	width: 245px; 
}
span.prev-month { 
	float: left; 
	width: 16px; 
	height: 15px; 
	background: url("images/vista-blue/prev.png") no-repeat top left; 
	text-indent: -9999px; 
	cursor: pointer; 
}
span.next-month { 
	float: right; 
	width: 16px; 
	height: 15px; 
	background: url("images/vista-blue/next.png") no-repeat top left; 
	text-indent: -9999px; 
	cursor: pointer; 
}
span.this-month { 
	text-align: center; 
	color: #014567; 
	overflow: hidden;  
	font: 600 12px arial, verdana, tahoma;
}
div.calendar-content { 
	background: #fff; 
	border: 1px solid #aaa; 
	padding: 0px; 
	margin: 0px; 
}
div.calendar-content-selector { 
	background: #fff; 
	border: 1px solid #aaa; 
	width: 229px; 
	padding: 2px; 
	display: none; 
}
table.calendar-body { 
	width: 232px; 
	border-collapse: collapse; 
	padding: 0px; 
	margin: 0px; 
}
td.calendar-header-day { 
	width: 21px; 
	height: 21px; 
	font: bold 12px;
	border-bottom: 1px solid #aaa; 
	color: #222; 
	text-align: center; 
}
td.calendar-day { 
	width: 21px; 
	height: 21px; 
	background: #fff; 
	color: #111; 
	text-align: center; 
}
td.calendar-day-selected { 
	width: 21px; 
	height: 21px; 
	background: #333; 
	color: #fff; 
	text-align: center; 
}
td.calendar-invalid { 
	width: 21px; 
	height: 21px; 
	background: #fff; 
	color: #949494; 
	text-align: center; 
}

/* SUI.Ext.Panel ============================ */
table.sui-panel { 
	padding: 0px; 
	margin: 0px; 
	border-collapse: collapse; 
	display: none; 
	visibility: hidden; 
}
table.sui-panel * { 
	margin: 0px; 
	padding: 0px; 
}
td.sui-panel-hl { 
	background: url("images/vista-blue/panel-tl.png") no-repeat top left; 
	width: 7px; 
	height: 22px; 
	text-indent: -99999px; 
	font-size: 1px; 
}
td.sui-panel-header {
	background: url("images/vista-blue/panel-title.png") repeat-x top left; 
	height: 22px; 
	font-family: arial, verdana, tahoma; 
	font-size: 12px; 
	color: #014567; 
	overflow: hidden; 
	text-align:left; 
	font-weight: 600; 
}
div.sui-panel-title { 
	overflow: hidden; 
	padding-top: 3px; 
}
div.sui-panel-ext { 
	background: url("images/vista-blue/panel-title.png") repeat-x top left; 
	height: 22px; 
	overflow: hidden; 
	float: right; 
}
span.sui-panel-min { 
	display: block; 
	float: right; 
	background: url("images/vista-blue/panel-minimize.png") no-repeat top left; 
	width: 14px; 
	height: 22px; 
	text-indent: -9999px; 
}
span.sui-panel-close { 
	display: block; 
	float: right; 
	background: url("images/vista-blue/panel-close.png") no-repeat top left; 
	width: 14px; 
	height: 22px; 
	text-indent: -9999px; 
}
span.sui-panel-disabled { 
	display: none; 
}
td.sui-panel-hr { 
	background: url("images/vista-blue/panel-tr.png") no-repeat top right; 
	width: 8px; 
	height: 20px; 
	text-indent: -99999px; 
	font-size: 1px; 
}
td.sui-panel-cl { 
	background: #fff url("images/vista-blue/panel-cl.png") repeat-y top left; 
	width: 7px; 
	text-indent: -99999px; 
}
td.sui-panel-container { 
	background: url("images/vista-blue/panel-content.png") repeat top left; 
	vertical-align: top; 
	font-family: arial, verdana, tahoma; 
	font-size: 12px; 
}
td.sui-panel-container div.sui-panel-content { 
	margin: 5px; 
}
td.sui-panel-cr { 
	background: #fff url("images/vista-blue/panel-cr.png") repeat-y top right; 
	width: 8px; 
	text-indent: -99999px; 
}
td.sui-panel-fl { 
	background: url("images/vista-blue/panel-fl.png") no-repeat top left; 
	width: 7px; 
	height: 26px; 
	text-indent: -99999px; 
}
td.sui-panel-footer { 
	background: url("images/vista-blue/panel-fc.png") repeat-x top left; 
	height: 26px; 
	text-indent: -99999px; 
}
td.sui-panel-fr { 
	background: url("images/vista-blue/panel-fr.png") no-repeat top right; 
	width: 8px; 
	height: 26px; 
	text-indent: -99999px; 
}

/* SUI-Extra ========================== */
div.x-column { 
	float: left; 
	width: 210px; 
	outline-width: medium; 
}
div.x-column-big { 
	float: left; 
	width: 310px; 
	outline-width: medium; 
}
div.x-column-small { 
	float: left; 
	width: 110px; 
	outline-width: medium; 
}
div.form-submit { 
	padding: 3px 0 0; 
	clear: both; 
}
div.label { 
	color: #1B6193; 
	font-size: 11px; 
	font-weight: bold; 
	padding: 8px 2px 0px; 
}
input.input, select.input, textarea.input { 
	width: 200px; 
}
input.input-big, select.input-big, textarea.input-big { 
	width: 300px; 
}
input.input-small, select.input-small, textarea.input-small { 
	width: 100px; 
}
span.form_error { 
	color: #a00; 
	padding: 1px 0px 3px 0px;
}
input.sui-form-error, select.sui-form-error, textarea.sui-form-error { 
	background: #fff url("images/vista-blue/error.png") repeat-x bottom left; 
	border: 1px solid #a00; 
}
