@charset "utf-8";

.calendar-panel { margin: 0; padding: 3px 2px; border: 1px solid #5C75AA; background: #fff; position: relative; width: 180px; font-size: 11px; }
	.calendar-panel .prev-month { display: block; float: left; width: 16px; height: 16px; margin: 1px 3px; cursor: pointer; text-align: left; font-weight: bold; }
	.calendar-panel .next-month { display: block; float: right; width: 16px; height: 16px; margin: 1px 3px; cursor: pointer; text-align: right; font-weight: bold; }
	.calendar-panel .this-month { display: block; text-align: center; font-size: 12px; font-weight: bold; }
	.calendar-panel .calendar-content { clear: left; text-align: center; }
		.calendar-panel .calendar-header-day { background: #D8DFEA; }
		.calendar-panel .calendar-body { width: 95%; margin: 2px auto; text-align: center; margin: 5px 2px; }
			.calendar-panel .calendar-body td { padding: 1px; }
			.calendar-panel .calendar-day-selected { background: #3B5998; color: #fff; }
	.calendar-panel .calendar-option { margin: 2px auto; width: 170px; font-size: 10px; display: none; margin: 5px 2px; }
		.calendar-option .select-today { width: 95%; margin: 2px auto; }
