@charset "utf-8";

#widgetmessage {
	position: absolute;
	width: 200px;
	top: 0px;
	right: 0px;
	padding: 2px;
	x-index: 50;
}
#widgetmessage div.widgetmessage-box {
	color: #fff;
	width: 190px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
#widgetmessage div.widgetmessage-box a, #widgetmessage div.widgetmessage-box a:link {
	color: #ff3;
}
#widgetmessage div.note {
	background: #333;
}
#widgetmessage div.error {
	background: #a00;
}
#widgetmessage div.success {
	background: #393;
}
#widgetmessage div.widgetmessage-box span.widgetmessage-close {
	display: block;
	float: right;
	width: 10px;
	height: 10px;
	margin: 2px 5px;
	font: bold 11px verdana;
	cursor: pointer;
}
#widgetmessage div.widgetmessage-box p {
	margin: 0px;
	padding: 3px 5px;
	text-align: left;
}
